body{
  background-color: #ECE4B7;
}

h1 {
  color: #001B2E;
  text-align: center;
}
#welcome{
  text-align: center;
}
.buttons {
  text-align: right;
}
#myInput {
  text-align: center;
}
#join{
  background-color:#001B2E ;
  padding: 20px;
}
.btn-xs,.back{
  background-color:#001B2E ;
}
#heading{
  font-size: 145px;
}